<div class="container">

    <div class="section-title text-center mt-5 mb-5">
        <h2>Equipo</h2>
    </div>


    <div class="row info1">
        <div class="col-lg-6 col-sm-12 ">
            <img src="../../../assets/img/pc-guy.svg" alt="" class="animated fadeIn">
        </div>
        <div class="col-lg-6 col-sm-12 ">
            <h4 class="mt-5 mb-5">Sobre nosotros</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic esse cumque laborum sequi eligendi tenetur fugiat incidunt, dignissimos, odit ab distinctio eius, ipsa magni? Ad quaerat nesciunt ex dolorum sint?</p>
        </div>
    </div>

    <div class="row mt-5 mb-5">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="persona animated fadeIn shadow">
            <img src="../../../assets/avatars/man-1.svg" alt="">
            <h4>Javier Acosta</h4>
            <span>Chief Executive Officer</span>
            <p>
            Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
        <!-- <div class="social">
            <a href=""><i class="fab fa-twitter-square"></i></a>
            <a href=""><i class="fab fa-facebook-f"></i></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
        </div> -->
        </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="persona animated fadeIn shadow">
            <img src="../../../assets/avatars/girl-1.svg" alt="">
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
            <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
            </p>
            <!-- <div class="social">
                <a href=""><i class="fab fa-twitter-square"></i></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></i></a>
            </div> -->
        </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="persona animated fadeIn shadow">
            <img src="../../../assets/avatars/man-2.svg" alt="">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <!-- <div class="social">
                <a href=""><i class="fab fa-twitter-square"></i></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div> -->
        </div>
    </div>

    </div>

</div>
