.info1 img{
    height: 400px;
}

.persona{
    border: 2px groove lightgrey;
    border-radius: 10%;
    text-align: center;
    margin: 100px 0 100px 0;
    padding: 20px 0 20px 0;
}
.persona img{
    height: 150px;
    border-radius: 50%;
}
.persona h4{
    margin-top: 20px;
}
.persona span{
    margin-bottom: 20px;
}

// .social{
    
// }