.info1 img{
    height: 400px;
}

.persona{
    text-align: center;
    margin: 100px 0 100px 0;
}
.persona img{
    height: 150px;
}
.persona h4{
    margin-top: 20px;
}
.persona span{
    margin-bottom: 20px;
}

// .social{
    
// }