<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-4 text-center">
            <h3>Selecciona el tipo de cambio</h3>
        </div>
    </div>
    <div class="row tarjetero">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6" *ngFor='let item of currencies'>
            <div class="tarjeta" (click)="seleccionaCambio(item)">
                <img src="../../../assets/img/banderas/{{item.from}}.svg" alt="{{item.from}}">
                <i class="fas fa-chevron-right"></i>
                <img src="../../../assets/img/banderas/{{item.to}}.svg" alt="{{item.to}}">
                
            </div>
        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 text-center cajero">
            <h4>Selecciona cuanto deseas transferir</h4>
            <img src="../../../assets/img/card-bro.svg" alt="">
            <p>De : {{currency.from}} </p>
            <p>A : {{currency.to}} </p>
            <form  #cajaForm="ngForm">
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Monto a cambiar" (input)="typeEvent($event.target.value)">
                <label for="total">Monto a transferir</label>
                <input type="number" class="form-control" id='total' disabled name='montotransf' [(ngModel)]="transferir">
            </div>
            <button class="btn btn-dark">Enviar</button>
            </form>
        </div>
    </div>
</div>
